/* 
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #99999a, #46545c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */